meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", type="text/css", href="/css/landingpage.css")
title Parkville Software solutions
.banner
  .navbar
    img.logo(src="/images/parkvillegif2.gif")
    ul
      
      li
        a(href="https://github.com/SsebunyaJesse") Contact Us 
  .content
    h1 Parkville Park
    p Parkville software solutions
    a(href="/login")
      button(type="button")
        span
        | Get started